@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  height: 12px !important;
  width: 12px !important;
}


.swiper-scrollbar-drag{
  background-color: white !important;
}
